# GitHub Actions CI build

name: build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: Build on macOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - run: gem install xcpretty
      - name: Build app
        run: |
          make build_unsigned | xcpretty -c && exit ${PIPESTATUS[0]}
      - name: Test command line tool install
        run: |
          cd products/Platypus.app/Contents/Resources
          sudo sh InstallCommandLineTool.sh
          platypus --version
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - name: Run tests
        run: |
          pip3 install pytest
          make clt_tests
